<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Page</title>    
    <link rel="stylesheet" type="text/css" href="css/style.css">    
</head>  
<body>    
    <h2>Login with your Credentials</h2><br>    
    <div class="login">    
    <form id="login" method="get" action="login.php">    
        <label><b>Enter Sender's Email-Id     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Email">    
        <br><br>    
        <label><b>Enter Sender's Email-Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        <input type="button" name="log" id="log" value="Continue">          
        <br><br>        
    </form>     
</div>    
</body>    
</html>