<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Page</title>    
    <link rel="stylesheet" type="text/css" href="css/style.css">    
</head>  
<body style = "background : url(https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg);
background-size:100%;">    
    <h1>Login with your Credentials</h1><br>   
    <h2>Please Enable 'Less Secure App Access' in your E-mail Account.</h2>
    <h4>For Gmail, click here.</h4>
    <div class="login">    
    <form id="login" method="get" action="login.php">    
        <label><b>Enter Sender's Email-Id     
        </b>    
        </label> 
        <input type="text" name="Uname" id="Uname" placeholder="Email" >

        <br><br>    
        <label><b>Enter Sender's Email-Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        <input type="button" name="log" id="log" value="Continue">          
        <br><br>        
    </form>     
</div>    
</body>    
</html>
