<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Page</title>    
    <link rel="stylesheet" type="text/css" href="css/style.css">    
</head>  
<body>
    <section>  
        <div class="container">
            <div class="left"></div>
            <div class="right">
                <div class="content">    
                <h1>Login with your Credentials</h1>  
                <h2>Please Enable 'Less Secure App Access' in your E-mail Account.</h2>
                <h3>For Gmail, click here.</h3>
                <form>
                    <label>Enter Sender's Email-Id : </label>
                    <input class="input-field" type="text" name="sid" id="Uname" placeholder="Email" >   
                    <input type="button" name=" " id="log" value="Continue">          
                </form>          
                </div>  
            </div>  
        </div>
    </section>   
</div>    
</body>    
</html>
