<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Page</title>    
    <link rel="stylesheet" type="text/css" href="templates/css/style.css">    
</head>  
<body>
    <section>  
        <div class="container">
            <div class="left"></div>
            <div class="right">
                <div class="content">    
                <h1>Login with your Credentials</h1>  
                <h2>Please Enable 'Less Secure App Access' in your E-mail Account.</h2>
                <p><a href="https://myaccount.google.com/u/0/lesssecureapps">For Gmail, click here.</a></p>
                <p><a href="https://myaccount.google.com/u/0/lesssecureapps" target="_blank">For Gmail, click here.</a></p>
                <form>
                    <label>Enter Sender's Email-Id : </label>
                    <input class="input-field" type="text" name="sid" id="Uname" placeholder="Email" action='/' method = 'post'>   
                    <input type="submit" name="cont" id="log" value="Continue" action="{{url_for("login")}}" method="post">   
                </form>          
                </div>  
            </div>  
        </div>
    </section>   
</div>    
</body>    
</html>