<!DOCTYPE html>    
<html>    
<head>    
    <title>Password Page</title>    
    <link rel="stylesheet" type="text/css" href="css/pass.css">    
</head>  
<body>
    <section>  
        <div class="container">
            <div class="left"></div>
            <div class="right">
                <div class="content">    
                <h1> Enter your Password</h1> 
                <form>
                    <label>Enter Sender's Password :</label>  
                    <input type="Password" name="spass" id="Pass" placeholder="Password">      
                    <input type="button" name="next" id="log" value="Add recipient">              
                </div>  
            </div>  
        </div>
    </section>   
</div>    
</body>    
</html>

